<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>每天都被自己帅醒!</title>
    <link rel="stylesheet" href="">
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>遍历数组</legend>
            <ol>
              <li v-for="(per,index) in persons" :key="per.id">
                  索引:{{index}}----id:{{per.id}}---名字:{{per.name}}---年龄:{{per.age}}----描述:{{per.desc}}
              </li>
            </ol>
            <hr>
            <ul>
              <li v-for="per in persons" :key="per.id">
                id:{{per.id}}---名字:{{per.name}}---年龄:{{per.age}}----描述:{{per.desc}}
              </li>
            </ul>
        </fieldset>
        <hr>
        <fieldset>
            <legend>遍历对象</legend>
            <ul>
              <li v-for="(value,key,index) in obj">
               索引:{{index}}---key:{{key}}---value:{{value}}
              </li>
            </ul>
        </fieldset>
    </div>
    <script type="text/javascript">
      const vm = new Vue({
          el:'#app',
          data:{
              persons:[
                 {id:1,name:'卡卡西',age:27,desc:'帅气的男人'},
                 {id:2,name:'自来也',age:35,desc:'一直都喜欢纲手'},
                 {id:3,name:'大蛇丸',age:36,desc:'科学家'},
                 {id:4,name:'纲手',age:40,desc:'童颜'}
              ],
              obj:{
                  name:'索隆',
                  age:30,
                  gender:'男'
              }
          }
      })
    </script>
</body>

</html>