<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>每天都被自己帅醒!</title>
    <link rel="stylesheet" href="">
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>数组数据更新操作</legend>
            <button @click="addPerson">添加</button><br>
            名字:<input type="text" v-model="userName"><br>
            年龄:<input type="text" v-model="userAge"><br>
            描述:<input type="text" v-model="userDesc"><br>
            <ul>
               <li v-for="(per,index) in persons" :key="per.id">
                   id:{{per.id}}---名字:{{per.name}}---年龄:{{per.age}}---描述:{{per.desc}}
                   <button @click="deletePerson(index)">删除</button>
                   <button @click="updatePerson(index,{id:++userId,name:userName,age:userAge,desc:userDesc})">更新</button>
               </li>
            </ul>
        </fieldset>
    </div>
    <script type="text/javascript">
        //首先:页面显示后,在页面中把数据展示出来(数据都在数组中存储)
        const vm = new Vue({
            el:'#app',
            data:{
                userName:'',
                userAge:0,
                userDesc:'',
                userId:5,
                persons:[
                    {id:1,name:'周星驰',age:27,desc:'一年一影帝,百年周星驰'},
                    {id:2,name:'鸣人',age:27,desc:'佩恩后再无火影'},
                    {id:3,name:'黑崎一护',age:27,desc:'蓝染之后再无死神'}
                ]
            },
            methods: {
                addPerson(){
                    this.persons.push({
                        id:++this.userId,
                        name:this.userName,
                        age:this.userAge,
                        desc:this.userDesc
                    })
                },
                deletePerson(index){
                    this.persons.splice(index,1)
                },
                updatePerson(index,per){
                    this.persons[index].id=per.id
                    this.persons[index].name=per.name
                    this.persons[index].age=per.age
                    this.persons[index].desc=per.desc
                    
                }
            }
        })
    </script>
</body>

</html>