<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>每天都被自己帅醒!</title>
    <link rel="stylesheet" href="">
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>数据排序及相关操作</legend>
            <input type="text" placeholder="请输入名字" v-model="serachName">
            <ul>
                <li v-for="(per,index) in pers" :key="per.id">
                    id:{{per.id}}---名字:{{per.name}}---年龄:{{per.age}}
                </li>
            </ul>
            <button @click="state=1">年龄升序</button>
            <button @click="state=2">年龄降序</button>
            <button @click="state=0">原来顺序</button>
        </fieldset>
    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el: '#app',
            data: {
                state: 0,
                serachName: '',
                persons: [
                    { id: 1, name: 'rousi', age: 30 },
                    { id: 2, name: 'jack', age: 40 },
                    { id: 3, name: 'lucy', age: 20 },
                    { id: 4, name: 'baby', age: 50 },
                ]
            },
            computed: {
                pers() {
                    const { serachName, persons, state } = this
                    const newArr = persons.filter((per) => per.name.indexOf(serachName) !== -1)
                    // 判断状态
                    if (state !== 0) {
                        newArr.sort((p1, p2) => {
                            return state === 2 ? p2.age - p1.age : p1.age - p2.age
                        })
                    }
                    // 如果状态是0则直接返回原数组
                    return newArr
            
                }
            }
        })
    </script>
</body>

</html>