<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>每天都被自己帅醒!</title>
  <link rel="stylesheet" href="">
  <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
  <div id="app">
    <fieldset>
      <legend>数组数据的更新操作</legend>
      <button @click='addClick'>添加</button>
      <!-- v-model实现双向数据绑定 
         Input输入框的内容一旦变化，会被ViewModel监听（DOMListener）到告诉Vue实例对象中的data，从而更新data里的数据信息
         而Vue实例对象中的data里的信息一旦发生变化，会被ViewModel的数据绑定功能(DataBinding)告诉Input，从而更新Input内容，更新view视图页面
      -->
      姓名：<input type='text' v-model='userName'/>
      年龄：<input type='text' v-model='userAge' />
      描述：<input type='text' v-model='userDesc' />

      <!-- 遍历数组 -->
      <ul>
        <li v-for='(per,index) in person' :key='per.id'>
          索引:{{index}}
          姓名：{{per.name}}
          年龄：{{per.age}}
          描述：{{per.desc}}
          <button @click='delClick(index)'>删除</button>
          <button @click='updateClick(index,{id:++userId,name:userName,age:userAge,desc:userDesc})'>更新</button>
        </li>
      </ul>
      <hr>

    </fieldset>

    <hr>

  </div>
  <script type="text/javascript">
    //创建个Vue实例对象
    const vm=new Vue({
       el:'#app',
       data:{
         userId:4,
         userName:'',
         userAge:'',
         userDesc:'',
         person:[
           {id:1,name:'a',age:10,desc:'口红'},
           {id:2,name:'b',age:11,desc:'眼霜'},
           {id:3,name:'c',age:12,desc:'精华'},
           {id:4,name:'d',age:13,desc:'香水'}
         ]
       },

       methods: {
         //点击删除
         delClick(index){
           this.person.splice(index,1)
         },

         //点击添加
         addClick(){
           //先有一个对象
            const obj={
              id:++this.userId,
              name:this.userName,
              age:this.userAge,
              desc:this.userDesc
            }
           //把该对象添加到person数组中
           this.person.push(obj)
         },
         //点击更新操作
         updateClick(index,per){
           this.person[index].id=per.id
           this.person[index].name=per.name
           this.person[index].age=per.age
           this.person[index].desc=per.desc
         }
       },

    })
  </script>
</body>

</html>